body{
	margin: 0;
	background: url("images/fond.png") no-repeat;
}

header, footer{
	font-family: "Geometr415 Md BT";
	color: #297E1A;
}

#toggle{
	display: none;
}

/* Header */

header{
	height: 8rem;
	display: flex;
	justify-content: space-between;
	background-color: #9EE791;
	position: fixed;
	width: 100%;
}

header #burger{
	display: none;
}

header #logo img{
	width:  17rem;
	height: 6rem;
	padding-top: 1rem;
	padding-left: 2rem;
}

header #logo{
	flex: 20%;
}

header nav{
	flex : 80%;
	margin-left: 25%;
}

header nav .menu{
	font-size: 2.5rem;
	display: flex;
	list-style-type: none;
}

header nav .menu > li{
	margin-right: 5%;
}

header nav .menu li a{
	text-decoration: none;
	color: #297E1A;
}

header nav .menu li a:hover{
	color: #FED330;
}

header nav .menu .betes{
	margin-right: 0;
	width: 10rem;
}

header nav .menu .betes > a{
	margin-right: 5%;
}

header nav .menu .betes > li a{
	padding: 1rem;
}

header nav > .menu .betes .sous-menu{
	display: none;
}

header nav .menu .betes .sous-menu li{
	list-style-type: none;
}

header nav .menu .betes .sous-menu li:hover{
	background-color: #297E1A;
	margin-top: -2px;
}

header nav .menu .betes .sous-menu li a{
	display: block;
	padding: 1rem;
}

header nav > .menu .betes:hover .sous-menu{
	display: block;
	cursor: pointer;
}

header nav .menu .sous-menu{
	padding: 0;
	margin-top: 2.5rem;
	font-size: 1.5rem;
	background-color: #9EE791;
	border-top: 5px solid #297E1A;
	position: relative;
	z-index: 1;
}

/* Main width 480 gauche et droite / 600 pour centre */

	main{
		display: flex;
		justify-content: space-around;
		padding: 10.5rem 1rem 2.25rem 1rem;
	}

	main section{
		border: 1px solid #707070;
	}

	main section .titre{
		font-family: "Geometr415 Md BT";
		text-align: center;
		color: #ffffff;
		background-color: #A1785C;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-radius: 15px 15px 0 0;
		border-bottom: 1px solid #707070;
	}

	main section .contenu{
		padding : 5%
	}

	main #espace-membre, main #collection{
		 width: 30%;
		 height: 600px;
		 border-radius: 15px;
		 background-color: #E3C099;
	}

	main #collection{
		width: 66%;
	}

	main #espace-membre .contenu form{
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 0.5rem;
	}

	main #espace-membre .contenu #formulaire-inscription{	
		gap: 0.5rem;
		display: none;
	}


	main #espace-membre .contenu form label{
		font-family: "Geometr415 Md BT";
		color: #A1785C;
		font-size: 1.5rem;
	}

	main #espace-membre .contenu #formulaire-inscription label{
		font-size: 1rem;		
	}

	main #espace-membre .contenu form input[type=text], main #espace-membre .contenu form input[type=password]{
		font-size: 1.2rem;
		color: #A1785C;
		border-radius: 5px;
		border: 1px solid #707070;
		padding: 1rem 0 1rem 1rem;
	}

	main #espace-membre .contenu #formulaire-inscription input[type=text],main #espace-membre .contenu #formulaire-inscription input[type=password]{
		font-size: 1rem;
		padding: 0.5rem 0 0.5rem 0.5rem;	
	}

	main #espace-membre .contenu form input[type=text]:focus, main #espace-membre .contenu form input[type=password]:focus{
		outline: none;
		border: 2px solid #A1785C;
	}

	main #espace-membre .contenu #formulaire-inscription #identite{
		display: flex;
	}

	main #espace-membre .contenu form a{
		font-family: "Usual Light";
		color: #A1785C;
	}

	main #espace-membre .contenu form #connecter, main #espace-membre .contenu form #inscrire{
		font-family: "Geometr415 Md BT";
		font-size: 1.2rem;
		background-color:#297E1A;
		padding: 1rem 0 1rem 0;
		border-radius: 15px;
		border: 2px solid #707070;
		color: #ffffff;
	}

	main #espace-membre .contenu #bouton-inscription, main #espace-membre .contenu #bouton-retour{
		font-family: "Geometr415 Md BT";
		font-size: 1.2rem;
		background-color: #A1785C ;
		width: 100%;
		padding: 1rem 0 1rem 0;
		border-radius: 15px;
		border: 2px solid #707070;
		color: #ffffff;
	}

	main #espace-membre .contenu #bouton-inscription:hover, main #espace-membre .contenu #bouton-retour:hover{
		cursor: pointer;
	}

	main #espace-membre .contenu #bouton-retour{
		display: none;
	}

	main #espace-membre .contenu form #connecter:hover, main #espace-membre .contenu form #inscrire:hover{
		cursor: pointer;
	}

	main #collection .titre{
		padding-top: 0;
		padding-bottom: 0;
		margin-top: -20px;
	}

	main #collection #tete-collection .titre h2{
		padding-top: 15px;
		padding-bottom: 5px;
	}

	main #collection .titre #menu-betes-dispo{
		list-style-type: none;
		display: flex;
		justify-content: space-evenly;
		padding: 0;
		margin-bottom: 7.5px;
	}

	main #collection .titre #menu-betes-dispo li a{
		background-color: #9EE791;
		color: #297E1A;
		text-decoration: none;
		padding: 0.5rem;
		border-radius: 10px 10px 0 0;
	}

	main #collection .titre #menu-betes-dispo li a:hover{
		background-color: #297E1A;
		color: #FED330;
	}

	main #collection .contenu{
		padding: 2%;
		height: 460px;
		overflow-y: scroll;
		scrollbar-width: thin;
		scrollbar-color: #297E1A #9EE791;
		background-color: #E3C099;
	}

	main #collection .contenu .liste-collections{
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	main #collection .contenu .liste-collections .colonne{
		display: flex;
		justify-content: space-around;
	}

	main #collection .contenu .liste-collections .colonne .bete{
		width: 23%;
		height: 14rem;
		font-family: "Usual Light";
		color: #A1785C;
		font-size: 0.7rem;
		display: grid;
	}

	main #collection .contenu .liste-collections .colonne .bete .nom-bete{
		text-align: center;
		font-size: 0.9rem;
		font-weight: bold;
	}

	main #collection .contenu .liste-collections .colonne .bete .photo-bete{
		width: 50px;
		height: 50px;
		background-color: brown;
		margin-left: auto;
		margin-right: auto;
	}

	main #collection .contenu .liste-collections .colonne .bete .resume-bete p{
		margin: 0;
	}

	main #collection .contenu .liste-collections .colonne .bete .resume-bete .stat-bete p:nth-child(1){
		font-size: 0.8rem;
		font-weight: bold;
	}

/*Footer*/

footer{
	height: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #9EE791;
	padding: 0.55rem 2rem 0 2rem;
}

footer #copyright{
	margin-left: 10%;
	flex-basis: 33.33%;
}

footer .menu-footer{
	flex-basis: 33.33%;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	font-size:  1.5rem;
	margin-right: 10%;
}

footer .menu-footer li a{
	color: #297E1A;
	text-decoration: none;
}

footer .menu-footer li a:hover{
	color: #FED330;
}

@media screen and (max-width: 1805px) and (min-width: 1200px){
	main #espace-membre .contenu{
		padding: 2% 5%;
	}
}

/* Header Responsive */

@media screen and (max-width: 1520px){
	header nav{
		margin-left: 2%;
	}
}

@media screen and (max-width: 1390px) and (min-width: 1265px){
	main #espace-membre .contenu #formulaire{
		gap: 0.4rem;
	}

	main #kesako-progression .contenu {
		padding: 2%;
	}

	main #collection .contenu .liste-collections .colonne .bete .resume-bete .stat-bete p:nth-child(1){
		font-size: 0.7rem;
	}

	main #collection .contenu .liste-collections .colonne .bete .resume-bete .stat-bete p:nth-child(2){
		font-size: 0.6rem;
	}
}


@media screen and (max-width: 505px){
	main #espace-membre .contenu{
		padding: 0 5%;
	}
}

@media screen and (max-width: 395px){
	main #espace-membre .contenu #formulaire{
		gap: 0.4rem;
	}
}

/* Partie Responsive */

@media screen and (max-width: 1265px){

	/*Responsive header*/

	header nav > .menu li .sous-menu{
		display: grid;
	}

	header #burger{
		display: block;
		border: 2px solid #297E1A;
		color: #297E1A;
		font-size: 5rem;
		border-radius: 10px;
		position: absolute;
		height: 96px;
		margin-left: 80%;
		top: 15px;
		line-height: 100px;
	}

	header nav{
		display: none;
		position: absolute;
		left: -38px;
		top: 88px;
		margin-left: 0px;
		width: 100%;
	}

	header nav .menu .betes > a{
		margin-right: 0px;
		border-top: 2px solid;
	}

	header nav .menu .sous-menu{
		margin-top: 0px;
		border-top: 0px;
	}

	header nav .menu .betes .sous-menu{
		display: grid;
	}

	header nav .menu .betes .sous-menu li a{
		padding-right: 6px;
		padding-left: 2rem;
		font-size: 2.5rem;
	}

	header nav .menu .betes{
		width: auto;
	}

	header nav .menu li{
		margin-right: 0px;
	}

	header nav .menu{
		display: grid;
	}

	header nav .menu li a:hover{
		border-top: 2px solid #FED330;
		margin-top: -2px;
		background-color: #297E1A;
	}

	header nav .menu li a{
		width: 100%;
		display: block;
		background-color: #9EE791;
		padding: 1rem 22px 1rem 1rem;
		border-bottom: 2px solid;
	}

	#toggle:checked ~ header nav {
  		display: grid;
	}

	#toggle:checked ~ header #burger{
		background-color: #297E1A;
		color: #FED330;
	}

	/* Responsive Main */

	main{
		flex-direction: column;
		gap : 3em;
	}

	main #espace-membre{
		width: 100%;
	}

	main .centre{
		width: 100%;
		gap : 3em;
	}

	main #collection{
		width: 100%;
	}

	/* Responsive footer */

	footer{
		height: auto;
	}

	footer .menu-footer{
		flex-direction: column;
		margin-right: 5%;
		margin-top: 15px;
		line-height: 32px;
	}

}